
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400;500;600&family=Festive&family=Gelasio:wght@400;500;700&family=Henny+Penny&family=Hubballi&family=Inspiration&family=Jacques+Francois+Shadow&family=Lato:ital,wght@0,300;1,700&family=Lavishly+Yours&family=Monofett&family=Mystery+Quest&family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Quattrocento&family=Righteous&family=Sarala:wght@400;700&family=Satisfy&family=Water+Brush&display=swap');
/*
body{
    font-family: 'Sarala',cursive;
    color: rgb(251, 213, 213);
    background: url(/img/night_sky3.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    }
 */
.semestre2, .semestre3, .semestre4, .semestre5, .semestre6, .texto{
    display: none;
    border: 2px solid plum;
    background-color: none;
    text-align: center;
    height: 400px;
    margin-bottom: 10px;
    color: aliceblue;
      
}
.typing1, .typing2, .typing3, .typing4, .typing5, .typing6 {
    font-family: "Space Mono";
    font-size: 30px;
}
#img-left{
    position: absolute;
    width: 200px;
    left: 0;
}
.respostas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 750px;
}

.btn-resposta{       
    width: 550px;
    padding: 10px;
    padding-left: 25px;
    background-color: none;
    opacity: 0.9;            
    font-size: 20px;
    outline: none;
    box-shadow: none;
left: 50%;
}
.btn-letra {
    margin-left: 50px;
    width: 150px;

}
.btn-letra, .btn-resposta {
    border: 1px solid plum;
    background-color: black;
    text-align: center;
    height: 60px;
    margin-bottom: 10px;
    color: aliceblue;
}
.btn-resposta:hover {
    background-color: rgb(75, 72, 106);
}
#botao-proximo {
    background-color: rgb(53, 76, 77);
    width: 180px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid rgb(112, 216, 200);
    color: rgb(220, 249, 252);
    font-family: 'Sarala',cursive;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
}
#botao-proximo:hover {
    background-color: #778899; 

    color: rgb(36, 33, 33);
}
#botao-proximo a {
    color: rgb(220, 249, 252);
    text-decoration: none;
}
.container-reading {
    height: 100vh;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border-radius: 20px;
    top: 20%;
    width: 60%;
    left: 50%;
    padding: 20px;   
    display: none;
    font-size: 35px;
    line-height:55px;
    /* padding: 40px; */
    opacity: 0.85;
}
.container-resposta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    top: 20%;
    width: 70%;
    left: 50%;
    padding: 20px;   
    display: none;
    font-size: 35px;
    line-height:55px;
    border: 5px solid orange;
    padding: 40px;
    background-color: rgb(99, 95, 116);
    opacity: 0.85;
}
.container h1, h2 {
    margin-bottom: 60px;
}
.container h1 {
    font-size: 50px;

}
.container h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(126, 138, 150);

}
.container-answer{

  width: 70%;
  text-align: center;
  align-items: left;
}

.container .img-1 {
    position: absolute;
    right: 70px;
    width:300px;
    bottom: 50px;
}
.container .img-0 { 
    position: absolute;
    right: 150px;
    width:150px;
    bottom: 50px;
}

.img-2 {
    width: 50px;
}
#btn-voltar {
    background-color: rgb(190, 216, 138);
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid palevioletred;
    color: rgb(31, 27, 27);
    font-family: 'Sarala',cursive;
    font-weight: bolder;
}
#btn-voltar a {
    text-decoration: none;
}
#div-esquerda{
    position: absolute;
    left: 50px;
    top: 150px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dfd5d5;
    border-radius: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#div-esquerda h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 18px;
    margin-top: 60px;
}
#primeiro,
#segundo,
#terceiro,
#quarto,
#quinto,
#sexto,
#leitura,
#escrita,
#fala,
#escuta {
display: none;
}


.show-review-div {
display: flex !important;
}
.resposta-correta {
    background-color: rgb(171, 210, 156);
    color: #3d4247;
    font-weight: bold;
}
.resposta-errada {
    background-color: rgb(228, 145, 145);
    color: #3d4247;
    font-weight: bold;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 60%;
    overflow: auto;
    padding: 0;
    
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* padding: 20px; */
    border: 1px solid #c2f0b0;
    border-radius: 10px;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}
.modal-content  h2 {
    text-align: center;
} 
.modal-content p {
    font-size: 50px;
    font-weight: bold;
    color: #305376;
}
#questions-qty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close {
    position: absolute;
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
    right: 15%;
    top: 15%;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#restart {
    cursor: pointer;
    height: 30px;
    width: 150px;
    background-color: rgb(250, 250, 186);
    border: 2px solid rgb(237, 184, 86);
    border-radius: 10px;
    margin-top: 30px;
    font-weight: bold;
    color: #393c3f;
}
#restart:hover {
    background-color: rgb(241, 197, 115);;
}

@media(max-width: 540px) {
    
    #div-esquerda {
        display: none;
    }
    
    .container {
        margin-top: 0;
        width: 400px;
    }    
    .container h1 {
        font-size: 2.3rem;
    }   
    .container h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        line-height: 2.2rem;
    }
    .typing1 {
        font-size: 1.5rem;
        line-height: 2.6rem;
    }
    .img-0 {
        position: relative;
        top: 30px;
        height: 190px;     
    }
    #botao-proximo {
        width: 120px;
        font-size: 1.2rem;
    }
    .respostas {
        width: 350px;         
        margin-left: 0;
    }
    .btn-letra {
        margin-left: 0;
        width: 20%;
    }
    .btn-resposta {
        width: 80%;
    }
    .img-1 {
        display: none;
    }
    .modal {
        width: 300px;
    }
}