
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
.container-speaking {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 90vh;
    width: 100vw;
}

.container-audio #title {
    font-size: 2rem;
    color: rgb(219, 210, 172);
}
#como-jogar h2 {
    font-family: "Space Mono";
}
#como-jogar p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#como-jogar span {
    color: rebeccapurple;
    font-weight: bold;
}
.box {
    display: none;
}
img{
    width: 100%;
    display: block;
 
}
.container-audio{
    /* min-height: 90vh;
    width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(174, 196, 190);
    height: 230px;
    width: 650px;
    padding: 20px;
    border: 2px solid rgb(138, 91, 135);
    margin-bottom: 35px;
    margin-top: 30px;
    color: rgb(68, 65, 65);
}
.text #dica {
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(57, 67, 92);
}
.container-audio img{
    width: 140px;
    cursor: pointer;
    /* transform: scale(1);
    animation: scaleEffect 3s linear infinite; */
}
.record-clicked {
    transform: scale(1);
    animation: scaleEffect 3s linear infinite;
}
#btnGravar, #btnGravar2, #btnGravar3, #btnGravar4, #btnGravar5, #btnGravar6 {
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background-color: #dfd5d5;
    font-weight: bold;
}


@keyframes scaleEffect{
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0.9);
    }
}

.container-audio h1{
    padding-bottom: 2rem;
    font-size: 1.7rem;
}
.container-audio h2{
    margin-top: 2rem;
    margin-bottom:1rem;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 2px solid white;

}
.container-audio span{
    display: block;
    font-size: 1.5rem;
    font-weight: bolder;
 
}


.botao-proximo, .score-div{
    background-color: #fff;
    padding: 0.65rem 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
    width: 200px;
    color: rgb(68, 65, 65);
    border-radius: 10px;
    margin-top: 2rem;
}

.botao-proximo {
    background-color: rgb(102, 96, 88);
    color: #efe6e6;
}
.botao-proximo:hover {
    background-color: rgb(245, 216, 193);
    color:  rgb(102, 96, 88);
}
#img-direita {
    position: absolute;
    right: 50px;
    width: 400px;
    height:400px;
    bottom: 50px;
}
#btn-voltar{
    position: absolute;
    right: 50px;
    background-color: rgb(190, 216, 138);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid palevioletred;
    color: rgb(31, 27, 27);
    font-weight: bolder;
    bottom: 30px;
}
#btn-voltar a {
    text-decoration: none;
}
#div-esquerda{
    position: absolute;
    left: 50px;
    width: 400px;
    height:400px;
    top: 150px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dfd5d5;
    border-radius: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.div-pontos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 20px;
}

#pontos, #pontos2, #pontos3 {
    font-size: 2rem;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
#primeiro,
#segundo,
#terceiro,
#quarto,
#quinto,
#sexto,
#leitura,
#escrita,
#fala,
#escuta {
display: none;
}


.show-review-div {
display: flex !important;
}

#back {
    position: absolute;
    right: 200px;
}
#restart, #back {
    width: 200px;
    height: 50px;
    color: rgb(34, 33, 31);
    background-color: rgb(101, 99, 94);
    border-radius: 25px;
    border: 2px solid black;
    color: #efe6e6;
    font-size: 20px;
}

#restart:hover {
    background-color: rgb(138, 131, 122);
}

@media(max-width: 540px) {

    #div-esquerda, #img-direita {
        display: none;
    }

    #title {
        width: 500px;
    }
    .text {
        width: 400px;
    }
    .container-question h1 {
        font-size: 1.5rem;
    }
    .score-div, .botao-proximo {
        width: 150px;
    }
    #record, #record2, #record3, #record4, #record5, #record6 {
        width: 100px;
    }

}