@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400;500;600&family=Festive&family=Gelasio:wght@400;500;700&family=Henny+Penny&family=Hubballi&family=Inspiration&family=Jacques+Francois+Shadow&family=Lato:ital,wght@0,300;1,700&family=Lavishly+Yours&family=Monofett&family=Mystery+Quest&family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Quattrocento&family=Righteous&family=Sarala:wght@400;700&family=Satisfy&family=Water+Brush&display=swap');


* {
       
    margin: 0;
    padding: 0;
}


.container-jogo {
    /* background-color: #359e61; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 90vh;
    gap: 30px;
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    border-radius: 10px;
    /* border: 2px solid rgb(182, 131, 37); */
  }
.all h1{
    font-family: 'Righteous', cursive;
    font-size: 40px;
    color: #e7efea;
    margin-bottom: 20px;
    /* margin-top: 30px; */
}
.all h2 {
    font-size: 1.5rem;
    font-family: 'Righteous', cursive;
    padding-bottom: 30px;
    text-align: center;
}
.all h3 {
    font-size: 1.3rem;
    font-family: 'Righteous', cursive;
    padding-bottom: 10px;
}
#playpalavra {
    height: 100px;
    width: 100px;
}
#cor-1{
color: rgb(212, 227, 170);
    }
#cor-2{
    color: rgb(102, 225, 217);
    }
#cor-3{
color: rgb(225, 157, 102);
}
#cor-4{
    color: rgb(170, 147, 247);
    }
#cor-5{
    color: rgb(205, 123, 182);
    }
#display-score {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: rgb(5, 5, 15);
}
img { 
    width: 100px;
}

 #pontos, #pontos2, #pontos3, #pontos4, #pontos5, #pontos6 span{
    color: #359e61;
    font-size:1.2rem;
}
#wrong, #erros, #erros2, #erros3, #erros4,#erros5, #erros6 span {
    color: #e7e2bd;
    font-size:1.2rem;
}
#input, #input2, #input3, #input4, #input5, #input6{
    height: 50px;
    border: 1px solid rgb(151, 181, 180);
    border-radius: 15px;
    width: 60%;
    padding: 20px;
    background-color: none;
    outline: 2px solid rgb(131, 222, 167);
    font-family: 'Righteous', cursive;
    font-size: 20px;
}
#gerarPalavra1, #gerarPalavra2, #gerarPalavra3, #gerarPalavra4, #gerarPalavra5, #gerarPalavra6 {
   border-radius: 50%;
}
#gerarPalavra1 {
    background-color: #b4a8b2;
 }
 #gerarPalavra2 {
    background-color: #d2f1cf;
 }
 #gerarPalavra3 {
    background-color: #aef1f8;
 }
 #gerarPalavra4 {
    background-color: #b5a4dd;
 }
 #gerarPalavra5 {
    background-color: #89848a;
 }
 #gerarPalavra6 {
    background-color: #aef1f8;
 }

.cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width:90%;
    height: 15%;
    margin-top: 20px;
    padding-top: 20px;
} 

.correct-answer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}
.div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: #4bad7c;
}

.btn2{
    border-radius: 25px;
    width: 150px;
    padding: 5px;
    cursor: pointer;
    margin-left: 20px ;
    border: 1px solid rgb(151, 181, 180);
    outline: 2px solid rgb(131, 222, 167);
    font-family: 'Righteous', cursive;
    margin-bottom: 50px;
    font-size: 20px;
    height: 50px;
    border-radius: 15px;
    color: #89848a;
}
.btn2:hover {
    background-color:rgb(122, 163, 139);
    color: #e7efea;
}

#img-2 {
    position: absolute;
    width: 220px;
    height: 250px;
    top: 45px;
    left: 85%;
    }
#img-3 {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 10%;
    left:15%;

}

.correct-answer span{
    font-weight: bold;
    color: #4bad7c;
    font-size: 1.2rem;
}
.dicas {
    color: #e7e2bd;
    padding: 30px;
    right: 120px;
    top: 100px;
    height: 550px;
    width: 300px;
    /* background-color: #706f8a; */
    background-color: #4c546c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
  
}
.dicas h1, h3 {
    margin-bottom: 30px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
}
.dicas h3 {
font-size: 1rem;    
}
.dicas p {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1rem;
}
.container-direita {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    text-align: justify;
    width: 300px; 
    height:400px; 
    margin-top: 80px;
}
.modal {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: justify;
    font-family: "Space Mono", monospace;
    width: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(137, 144, 214, 0.8);
  }
  
  /* Modal Content/Box */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
  }
  .modal-content p {
    color: #e7e2bd;
    font-size: 0.8rem;
  }
  .modal-content h2 {
    color: #dbc947;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1rem;
  }
  .modal-content h4 {
    color: #3a3445;
    padding: 10px 0;
    font-size: 1rem;
  }
  /* Style the Image */
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100px; 
  }

  #img-help{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #myImg:hover {
    opacity: 0.7;
  }
  #btn-voltar {
    background-color: rgb(190, 216, 138);
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid palevioletred;
    color: rgb(31, 27, 27);
    font-family: 'Sarala',cursive;
    font-weight: bolder;
}
#btn-voltar a {
    text-decoration: none;
}

#primeiro,
#segundo,
#terceiro,
#quarto,
#quinto,
#sexto,
#leitura,
#escrita,
#fala,
#escuta {
display: none;
}


.show-review-div {
display: flex !important;
}

#progressContainer {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

#progressBar {
    width: 0%;
    height: 20px;
    background-color: #76c7c0;
    text-align: center;
    line-height: 20px;
    color: white;
    transition: width 0.3s;
}


@media(max-width: 540px) {

    .container-jogo {
        flex-direction: column;
    }
    .cont {
        width: 450px;
    }
    #progressContainer{
        width: 400px;
        align-items: center;
        margin-left: 60px;
    }
    #playpalavra {
        width: 80px;
        height: 80px;
    }
    .btn2 {
        width: 100px;
    }
    .dicas, .container-direita {
        display: none;
    }
}