* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


li,
ul,
ol,
a {
  list-style: none;
}

table {
  width: 80%;
  /* Adjust width as needed */
  border-collapse: collapse;
  margin: 20px auto;
  /* Center the table */
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* menu de navegacao das unidades */
.container-nav-units {
  width: 310px;
  height: 328px;
  background-color: #f0f0f0;
  position: fixed;
  top: 163px;
  bottom: -2px;
  left: 62px;
  right: 54px;
  padding: 17px 5px 25px 8px;
  border: 2px solid rgb(103 58 183 / 44%);
  border-radius: 0px 48px 52px 58px;
  font-family: "Space Mono";
  font-size: 14px;
  font-weight: bold;
}


.unit-nav {
  list-style: none;
  padding: 0;
}

.unit-nav li {
  margin-bottom: 6px;

}

.unit-nav a {
  display: block;
  padding: 9px 18px;
  text-decoration: none;
  /* Remove default link underline */
  color: #666;
  /* Link text color */
  background-color: #fff;
  /* Link background color */
  border: 2px dashed #ddd;
  /* Add border */
  border-radius: 22px;
  /* Add rounded corners */
  transition: background-color 0.3s ease;
  /* Add hover effect transition */
}

.unit-nav a:hover {
  background-color: #e0e0e0;
  /* Change background color on hover */
}

/* RESPONSIVIDADE DO MENU UNITS */
@media (max-width: 768px) {
  .container-nav-units {
    width: auto !important;
    height: auto !important;
    position: static !important;
    top: auto !important;
    bottom: auto !important;
    left: auto !important;
    right: auto !important;
    margin-bottom: auto !important;
    padding: auto !important;
    border: none !important;
    border-radius: none !important;
    margin-top: 8rem !important;
    background-color: unset !important;
  }

  .section-content1 {
    width: 100% !important;
    /* Largura da seção (ajuste conforme necessário) */
    margin: 0 auto !important;
    padding: 10px 15px 5px 15px !important;
    /* text-align: justify !important; */
    /* Espaçamento interno */
    background-color: #eeeeee42 !important;
    /* Cor de fundo (opcional) */
    border: 1px solid #ddd !important;
    /* Borda (opcional) */
    border-radius: 8px !important;
    /* Cantos arredondados (opcional) */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    /* Sombra (opcional) */
    font-family: "Space Mono" !important;
    font-size: 20px !important;
  }

}



@media (max-width: 1250px) {

  /* Styles for screens smaller than 768px */
  .container-nav-units {

    width: 20%;
    height: max-content;
    position: relative;
    top: 9px;
    bottom: 2px;
    left: 3px;
    margin-bottom: 6px;
    padding: 5px -6px 6px 5px;
    right: 6px;
  }

  .unit-nav {
    display: flex;
    /* Use flexbox for horizontal layout */
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    /* Center items horizontally */
  }

  .unit-nav li {
    margin-bottom: 5px;
    /* Reduce spacing between list items */
  }

  .unit-nav a {
    border: 2px dashed #ddd;
    /* Add border */
    border-radius: 22px;
    /* Add rounded corners */
    transition: background-color 0.3s ease;
    font-size: 14px;
    /* Adjust font size for smaller screens */
    padding: 2px 41px;
  }


}

h2 {
  padding: 11px 0px;
}

.section-content1 {
  width: 80%;
  /* Largura da seção (ajuste conforme necessário) */
  margin: 0 auto;
  /* Centraliza horizontalmente */
  padding: 70px;
  /* Espaçamento interno */
  background-color: #eeeeee42;
  /* Cor de fundo (opcional) */
  border: 1px solid #ddd;
  /* Borda (opcional) */
  border-radius: 8px;
  /* Cantos arredondados (opcional) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra (opcional) */
  font-family: "Space Mono";
  font-size: 20px;
}

.section-content1 ul {
  padding: 24px 23px;
}



.carousel-container {
  width: 80%;
  margin: 0 auto;
  /* overflow: hidden; */
  font-weight: 300;
  font-size: 20px;
  font-family: "Space Mono";

}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  /* Smooth transition for animation (optional) */
  flex-wrap: wrap;
}

.carousel-section {
  flex: 1 0 100%;
  /* Equal width for each section (adjust if needed) */
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  /* Add rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  margin: 10px;
  /* Add spacing between sections */
}

.carousel-section h2 {
  margin-bottom: 10px;
  /* Add space below headings */
}

/* Optional: Navigation buttons styles (uncomment if needed) */

.prev-btn,
.next-btn {
  position: static;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 15px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

/* BOTAO DE IR PARA O TOPO */
/* BOTAO DE IR PARA O TOPO */
.back-to-top-button {
  z-index: 1;
  position: fixed;
  /* Stay in place on scroll */
  bottom: 20px;
  /* Distance from bottom */
  right: 20px;
  /* Distance from right */
  z-index: 100;
  /* Sit on top of other elements */
  display: none;
  /* Initially hidden */
}

.back-to-top-button a {
  display: block;
  width: 50px;
  /* Button width */
  height: 50px;
  /* Button height */
  text-align: center;
  line-height: 50px;
  /* Center text vertically */
  border-radius: 50%;
  /* Make it round */
  background-color: #333;
  /* Button color */
  color: #fff;
  /* Text color */
  font-size: 20px;
  /* Font size for icon */
  transition: background-color 0.3s ease;
  /* Smooth hover effect */
}

.back-to-top-button a:hover {
  background-color: #444;
  /* Darker color on hover */
}