@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Jost:wght@200;300&family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

.extra-dicionarios{
  background-color: #123850;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.extra-dicionarios p{
  font-size: 20px;
}
.conteudo-1, .conteudo-2, .conteudo-3, .conteudo-4 {
  background-color: #edefed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  border: 2px solid rgb(55, 94, 105);
  margin-right: 30px;
}
.conteudo-1 {
  width: 700px;
  height: 400px;
}
.conteudo-2 {
  width: 400px;
  height: 400px;
  margin-right: 40px;
}
.conteudo-part3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
}
.conteudo-3 {
  width: 400px;
  height: 190px;
}
.conteudo-4 {
  width: 400px;
  height: 190px;
}
.conteudo img {
  width: 150px;
}
.conteudo h2, p {
  margin-bottom: 20px;
}
.preview-jogos {
  display: flex;
  flex-wrap: wrap;
   justify-content: space-evenly;
  align-items: center; 
  /* flex-direction: row; */
  width: 100%;
  height: 170vh; 
  background-color: #bcc0ce;
  font-family: "Raleway", sans-serif;
  color: #333;
}
.container-jogos {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
  width: 70%;
 gap: 50px;
}
.container-jogos  h1 {
  font-size: 40px;
}
.jogos {
  /* background-color: #92a1cd; */
  background-color: #d6edea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:row;
  width: 80%;
  height: 280px;
  margin-right:20px ;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  border: 2px solid rgb(30, 32, 32);
 
}
.jogos img{
  width: 600px;
  height: 100%;
  border-bottom-right-radius: 25px;
}
.jogos .content {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction:column;
  text-align: left;
 padding: 10px;
}
.jogos h2 {
  font-size: 24px;
  padding: 10px;
}
.jogos h3 {
  font-size: 20px;
  padding: 10px;
}
.jogos p {
  font-size: 20px;
  padding-left: 10px;
}
.jogos button {
  width: 60px;
  height: 30px;
  border-radius: 25px;
  border: 2px solid rgb(189, 189, 161);
  font-weight: bolder;
  background-color: #efeda1;
}

.container-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: column; 
    width: 30%;
    height: 100%; 
    /* background-color: #819999;  */

}
.content-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; 
  flex-direction: column; 
  background-color: #819999; 
  border: 2px solid rgb(117, 232, 215);
  height: 30%; 
  width: 100%;
  border-radius: 15px;

}
.container-right img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
.content-coluna {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  flex-direction: row; 

}
.coluna-texto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  padding-right: 50px;
}
mark {
  font-weight: bolder;
  font-size: 22px;
  background-color: #dda1f5;
}

#titulo{
  width: 100px;
  margin-left: 50px;
  color: #92a1cd;
  font-size: 50px;
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: #e9c792;
}
.video h1 {
  width: 60vw;
  height: 45px;
  background-color: #434545;
  font-size: 30px;
  color: #a19797;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
.container-teste{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #aabfbf;
}
.container-teste-1 {
  width: 30vw;
  height: 98%;
  background-color: #aabfbf;
}
.container-teste-1 img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
} 
.container-test-2 {
  width: 65vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* background-color: #70667d; */
  background-color: #aabfbf;
  gap: 20px;
  /* background-color: #f1e6d4; */

}
.container-test-2 h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  color: #333;
}
.container-teste-3 {
  width: 90%;
  height: 35%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgb(245, 237, 219);
  border: 3px solid rgb(160, 121, 185);
  border-radius: 20px;
}
.container-teste-3-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
 gap: 20px;
}

.container-teste-3 img {
  width: 200px;
  height: 80px;
  border-radius: 50px;
}
.container-teste-3 h1 {
  font-size: 30px;
  color: #8b6760;
}
.container-teste-3 h2 {
  font-size: 25px;
  color: #333;
}
.container-teste-3 p {
  font-size: 20px;
  color: #333;
}
.container-teste-3 button {
  width: 200px;
  height: 80px;
  font-size: 25px;
  border-radius: 50px;
  border: 3px solid rgb(218, 180, 55);
  background-color: #bcc8c7;
  color: black;
}
.container-teste-3 button a {
  text-decoration: none;
  
}
/* menu lateral e bar */
.navbar {
  position: fixed;
  top: 0;
  bottom: -2;
  left: 0;
  width: 100%;
  font-family: "Lora";
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: #08021df5;
  padding: 16px;
}


.logout-button {
  margin-top: -22px;
  margin-bottom: -6px;
  padding-left: 830px;
  margin-left: 350px;
  color: white;
  font-size: 15px;
}


.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family:'Lora', monospace;
  padding: 6px; 
}

.sair{
  margin-left: 600px;
  padding-left: 608px;
  margin-bottom: 0px;
  margin-top: -38px;
  
}

/*BOTAO PARA SAIR*/
#btnRedirect{
  cursor: pointer;
  image-rendering: auto;
  margin-left: 314px;
}

/*Botao saiba mais*/
.btn-right {
  float: right;
  cursor: pointer;
  font-weight: bolder;
  background-color: #fdc03bca; 
  border-radius: 45%;
  font-size: 19px;
  box-shadow: none;
  color: white;
  border: none;
  padding: 4px 16px 4px 13px;
  margin-left: 3px;
  margin-top: 22px;
  margin-right: 3px;
}

.btn-right-anc{
  text-decoration: none;
  color: white;
}

span{
  font-size: 16px;
  font-family: 'Lora', Courier, monospace;
  color: #ef38d7;
  margin-left: 1.9px;
  margin-top: 20px;
  font-weight: bold;
}
/* Estilos para o menu lateral */
.sidebar {
  padding: 2px;
  position: fixed;
  top: 0;
  left: -300px;
  width: 209px;
  height: 100%;
  background-color: #08021de1;
  padding-top: 60px;
  transition: all 0.3s ease;
  z-index: 2;
}

.content {
  padding: 7px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 12px;
}

.sidebar li {
  margin-bottom: 10px;
}



.sidebar li a {
  display: block;
  padding: 13px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;

}

.sidebar li a:hover {
  background-color: #92a1cd;
}

.menu-toggle {
  position: fixed;
  top: 9px;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 4;
}

/* Estilos para abrir e fechar o menu */
.menu-open {
  transform: translateX(300px);
  cursor: pointer;
 
  font-family:'Lora', Courier, monospace;
}

.menu-close {
  transform: translateX(0);
  cursor: pointer;
  background-color: #92a1cd;
}

.fatec-linguo {
  border: 2px solid rgb(142, 3, 3);
  margin: 5px;
  padding: 1.5em;
}

.container-banners {
  margin-top: -3px;
  margin-bottom: 3px;
  padding-top: 50px;
  padding-bottom: 23px;
}

.container-banners .slide-container .slide {
  background-color: #08021df5;
  width: 400px;
  height: 218px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 9%;
  padding-bottom: 100px;
  margin-top: 2px;
}

.container-banners .slide-container .slide .content-slide {
  flex: 1 1 350px;
  animation: slideContent 0.4s linear 0.4s backwards;
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
}


.container-banners .slide-container .slide .content-slide .btn-slide {
  margin-top: 10px;
  display: inline-block;
  background: rgb(255, 168, 243);
  color: #ffffff;
  font-size: 15px;
  padding: 9px 40px;
  border-radius: 5px;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
}

.container-banners .slide-container .slide .content-slide .btn-slide:hover{
  background: rgba(254, 124, 213, 0.45);
  border: 2px solid #d46dc6;
  color: #ffffff;
}

.container-banners .slide-container{
  display: none;
}

.container-banners .slide-container.active{
  display: block;
}
.container-banners .slide-container .slide .banner1 {   
      z-index: 1;
      position: absolute; 
      right: 0; 
      min-width: 100%; 
      min-height: 100%;
      width: 100vw; 
      height: auto; 
      z-index: -1000;
      /* background: url(img/Seja\ bem-vindo\,\ Fateco\ \(a\)\ \(1\).gif) no-repeat;
      background-size: cover; 
   */
}
.banner1 .banner2 .banner3 {
  max-width: 100%;
  min-width: 50%;
  max-height: 100%;
  min-height: 50%;
  width: 50%;
  height: 200px;
}

.container-banners #prev, 
.container-banners #next {
  position: absolute;
  top:90%;
  transform: translateY(-50%);
  color: #ffffff;
  background: #c787dad3;
  height: 44px;
  width: 31px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 60px;
}

.container-banners #prev:hover, 
.container-banners #next:hover{
  background: #a355d761;
}
.container-banners #prev{
  left: 51px;
}

.container-banners #next{
  right: 20px;
}

@media(max-width: 500px){
  .container-banners #prev{
      left: 0px;
      top: 60%;
  }

  .container-banners #next{
      right: 0px;
      top: 60%;
  }

  .container-banners .slide-container .slide .content-slide p{
      font-size: 16px;
      color: #ffffff;
      font-family: 'Noto Sans', sans-serif;
      width: 70%;
      height: 10%;
  
  }
}


/*estilo para vídeos de slides do canvas*/
.slides-canvas .max-width{
  width: 100%;
  margin-bottom: 0;
  height: 100%;
}
.slides-canvas video{
  width: 100%;
  height: 100%;
}

/* Estilos para os botões de navegação */
.nav-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #120949e7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: #ace7ae;
}

header {
  background-color: rgba(255, 192, 203, 0.663);
}

/*banner*/
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  
}

#container-semestre {
 background-color: rgb(53, 71, 96);
  gap: 20px;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}


/* QUANDO FOR MEXER EM REVISAO, MAS LEMBRE-SE QUE ALTERA O BOX DO INICIO */
/* para mexer e alinhar os box de semestre, as imagens parecem no obedecer, mas tem jeito */

#first,
#second,
#third,
#four, #five, #six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-bottom: 50px;
  border: 2px solid #f1ecec;
  background-color:pink;
  padding: 10px;
  box-shadow: 5px 5px 5px #333;
}

#first:hover,
#second:hover,
#third:hover,
#four:hover,
#five:hover,
#six:hover  {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

/* para mexer no tamanho dos titulos da página inicial, pq se for em revisao você terá que aumentar o nome do id ou class para batata-revisao*/
#first h2,
 #four h2 {
  font-size: 20px;
  margin-top: 9px;
  padding: 3px;
}


.first-paragraph{
  text-decoration: underline;
  font-size: 18px;
  padding-top: 8px;
}

ul{
  margin-left: -33px;
  font-size: 18px;
  padding-top: 12px;
}

#second h2 {
  font-size: 20px;
  margin-top: 9px;
  padding: 3px;
}
.second-paragraph{
  text-decoration: underline;
  font-size: 18px;
  padding-top: 8px;
}

#third h2 {
  font-size: 20px;
  margin-top: 20px;
  padding: 3px;
}
.third-paragraph, .four-paragraph, .fifth-paragraph, .sixth-paragraph{
  text-decoration: underline;
  font-size: 18px;
  padding-top: 8px;
}






/*PARTE DOS SEMESTRES*/
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
/* para mexer e alinhar os box de semestre, as imagens parecem no obedecer, mas tem jeito */
#first,
#four {
  display: flex;  
  align-items: center;
  width: 228px;
  height: 366px;
  margin-bottom: 50px;
  border: 2px solid #333;
  background-color: #ccc;
  padding: 30px;
  box-shadow: 5px 5px 5px #333;
}

#second,
#third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 369px;
  margin-bottom: 50px;
  border: 2px solid #333;
  background-color: #ccc;
  padding: 17px;
  box-shadow: 5px 5px 5px #333;
}
#five, #six{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 369px;
  margin-bottom: 50px;
  border: 2px solid #333;
  background-color: #ccc;
  padding: 17px;
  box-shadow: 5px 5px 5px #333;
}

#first:hover,
#second:hover,
#third:hover,
#four:hover,
#five:hover,
#six:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

/* para mexer no tamanho dos titulos */
#first h1 {
  font-size: 20px;
  margin-bottom: 20px;
 
}

#second h2 {
  font-size: 20px;
  padding: 3px;
}

#third h3 {
  font-size: 20px;
  margin-bottom: 20px;
  
}

#four h4 {
  font-size: 20px;
  margin-bottom: 20px;
 
}

#first img,
#four img {
  
  width: 111%;
  box-shadow: 5px 5px 5px #333;
  margin-bottom: 2px;
}

#second img,
#third img {
  margin-top: 25px;
  width: 86%;
  box-shadow: 5px 5px 5px #333;
  margin-bottom: 2px;
}


/* SOMENTE PARA A PAGINA DE REVISAO */
#container-revisao {
  background: url(img/camper-7088130_1920.jpg);
  background-size:cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  padding-top: 56px;
  padding-bottom: 10px;
  margin-left: 9px;
  margin-right: 10px;
}

.revisao-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/*IMAGENS REVISAO SOMENTE*/
.revisao-img1{
  margin-left: 18px;
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 34px;
}

.revisao-img2{
  margin-left: 18px;
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 32px;
}

.revisao-img3{
  margin-left: 18px;
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 43px;
}

.revisao-img4{
  margin-left: 18px;
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 43px;
}


.revisao-item .content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}

.revisao-item p {
  text-align: justify;
  padding: 1px;
  font-size: 18px;
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 33px;
  margin: 25px;
}

.revisao-item .nav-btn {
  margin-top: 10px;
}

footer {
  text-align: center;
  color: #fff;
  background-color: #08021dea;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;
  bottom: 0px;
width: 100%;
}

footer:hover {
  color: white;
}



/*PAGINA DE CRÉDITOS*/
.quem-somos{
  align-items: center;
  margin: 73px 50px 50px 111px;
  padding: 20px;
 
  background-color: rgba(255, 192, 203, 0.663);
  border-radius: 10px;
  width: fit-content;
  
}

.quem-somos h1{
  font-family: 'Lora';
  font-size: 30px;
  padding-top: 20px;
  text-align: center;
  
}
.quem-somos h2{
  font-family: 'Poppins';
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  justify-content: space-between;

}
.quem-somos p{
  font-size: 22px;
  text-align: center;
  margin-bottom: -2px;
}
.quem-somos .paragrafo-destaque{
 padding-top: 35px;
  font-size: 22px;
  font-family: 'Lora';
  margin-bottom: -25px;
}

.quem-somos a{
  color: rgb(237, 20, 205);
  transition: color 0.3s ease;
  display: inline-block;
  
}

.quem-somos a:hover{
  color: #c55c1a;
  transition: color 0.3s ease;
}


/*SAIBA MAIS IMAGEM*/
.img-semestre1{
  margin-left: 18px;
  width: 800px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 43px;
}

/* mexer aqui */
#primeiro, #segundo, #terceiro, #quarto, #quinto, #sexto, #leitura, #escrita, #fala, #escuta {
  display: none;
}


.show-review-div {
  display: flex !important;
}