@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Jost:wght@200;300&family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0px 0px;
}
body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* menu lateral e bar */
.navbar {
  position: fixed;
  top: 0;
  bottom: -2;
  left: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: #08021df5;
  padding: 16px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 6px;
}
#question-number, #question-text{
  color: #2e2c31;
  font-size: 22px;
}
#answers-box span {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #2e2c31;
  margin-left: 1.9px;
  margin-top: 20px;
  font-weight: bold;

}

.question-answer {
  padding-left: 15px;
}
/* Estilos para o menu lateral */
.sidebar {
  padding: 2px;
  position: fixed;
  top: 0;
  left: -300px;
  width: 209px;
  height: 100%;
  background-color: #08021de1;
  padding-top: 60px;
  transition: all 0.3s ease;
  z-index: 2;
}

.content {
  padding: 7px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 12px;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  display: block;
  padding: 13px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sidebar li a:hover {
  background-color: #92a1cd;
}

.menu-toggle {
  position: fixed;
  top: 9px;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 4;
}

/* Estilos para abrir e fechar o menu */
.menu-open {
  transform: translateX(300px);
  cursor: pointer;

  font-family: "Lora", Courier, monospace;
}

.menu-close {
  transform: translateX(0);
  cursor: pointer;
  background-color: #92a1cd;
}

.fatec-linguo {
  border: 2px solid rgb(142, 3, 3);
  margin: 5px;
  padding: 1.5em;
}
.hide {
  display: none !important;
}

#main-title {
  padding: 40px 0;
  text-align: center;
  background-color: #9a5694;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#score-container {
  background-color: #f1f5f7;
  color: #000;
  text-align: center;
  width: 400px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 20px;
}

#score-container p {
  font-size: 14px;
  margin: 20px 0;
}

#score-container #display-score {
  font-size: 32px;
  font-weight: bold;
}

#correct-answers {
  font-weight: bold;
  color: #40b576;
}

#questions-qty {
  font-weight: bold;
  color: #075ea4;
}

#display-score span {
  font-size: 32px;
  padding-right: 5px;
}

#restart {
  background-color: #e9d6b7;
  color: #413c3c;
  font-weight: bold;
  height: 50px;
  border-radius: 24px;
  border: 5px solid transparent;
  width: 180px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}

#restart:hover {
  background-color: #fcf4e7;
  border:  2px solid gray;
}

/*Quiz container*/

#quizz-container {
  width: 600px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

#question {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

#question-number {
  font-weight: bold;
}
#questions-qty, #correct-answers{
  color: rgb(152, 98, 162);
  font-size: 25px;
}
#display-score-text {
  font-size: 25px;
}

#answers-box button {
  display: flex;
  align-items: center;
  margin: 15px 0;
  width: 417px;
  height: 60px;
  border-radius: 25px;
  background-color: rgba(184, 178, 197, 0.86);;
  border: 2px solid transparent;
  text-align: left;
  padding-bottom: 22px;
  padding-left: 5px;
  color: #000;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid gainsboro;
}

#answers-box button:hover {
  background-color: #fff3ff;
  color: #fff;
}

#answers-box .btn-letter {
  font-size: 18px;
  font-weight: bold;
  background-color: #94aeb3;
  color: #fff;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  flex: 1 1 0;
  max-width: 40px;
  margin-left: 10px;
}

.question-answer {
  flex: 1 1 0;
  margin-left: 10px;
  font-size: 16px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
}

#quizz-container .wrong-answer,
#quizz-container .wrong-answer .btn-letter {
  background-color: #efa29b;
  color: #fff;
}

#quizz-container .correct-answer,
#quizz-container .correct-answer .btn-letter {
  background-color: #7bab92;
  color: #fff;
}

/* RESPONSIVO */

@media (max-width: 450px){
  #div-esquerda {
    display: none;
  }

  
}

@media (max-width: 500px) {
  #quizz-container {
    border: none;
    width: 100%;
    
  }

  #div-esquerda{
    padding: 0px;
    background-color: transparent;
    
  }

  #div-esquerda h2{
   display:none;
   
  }


  #answers-box button {
    width: 100%;
  }

  #score-container {
    width: 90%;
  }

  

  #audio{
    padding-top: 128px;
    width: 84%;
  }



  #img-astronauta{
    display: none;
  }

  #div-all{
   width:  none;
   height: none;
  }
}



@media (max-widtg: 768px){
  #div-esquerda h2{
    font-size: 12px;
  }


  #img-astronauta {
    display: none;
}

}




h1 {
  align-items: center;
}

#audio {
  padding-top: 4px;
}

.logout-button {
  margin-top: -22px;
  margin-bottom: -6px;
  padding-left: 830px;
  margin-left: 350px;
  color: white;
  font-size: 15px;
}

.div-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(177, 172, 183, 0.671);
}

#img-astronauta {
  position:absolute;
  right: 30px;
  bottom: 50px;
  /* width: 50px; */
}

.circulo{
  position: absolute;
  left: 50px;
  width: 200px;
  height:400px;
  top: 150px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ecdab499;
  border-radius: 50%;
  text-align: center;
 
}
#div-esquerda h2 {
  width: 70%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
 /* Estilo personalizado para o elemento de áudio */
 audio {
  width: 400px; /* Largura personalizada */
  margin-bottom: 50px; /* Margem ao redor do elemento */
}

/* Estilizar os controles de áudio */
audio::-webkit-media-controls {
  background-color: #ecf2f6; /* Cor de fundo */
  border-radius: 10px; /* Borda arredondada */
}

/* Estilizar o botão de play/pause */
audio::-webkit-media-controls-play-button {
  color: green; /* Cor do botão de play */
}

/* Estilizar a barra de progresso */
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-timeline {
  background-color: rgb(182, 221, 225); /* Cor da barra de progresso */
}

/* Estilizar o tempo de reprodução */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: rgb(43, 52, 53); /* Cor do tempo de reprodução */
}

/* Estilizar o volume */
audio::-webkit-media-controls-volume-slider {
  background-color: rgb(209, 243, 209); /* Cor do controle de volume */
}


footer {
  text-align: center;
  color: #fff;
  background-color: #08021dea;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 20px;
  bottom: 0px;
}

footer:hover {
  color: white;
}
