@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Jost:wght@200;300&family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* LOGO FATEC LINGUO */


/* SPAN: A COR DAQUI ALTERA A LOGO E OS TITULOS DA UNIDADES */


span {
  font-size: 21px;
  font-family: 'Lora', Courier, monospace;
  color: #8d28f1;
  margin-left: 1.9px;
  margin-top: 20px;
  font-weight: bold;
}

.cabecalho {
  font-family: 'Space Mono';
  align-items: last baseline;
  background-color: #4c546c;
  color: white;
  padding: 2% 0px 0px;


}

.nav-menu a {
  text-decoration: none;
  /* Remove sublinhado */
  color: inherit;
  /* Herda a cor do texto do elemento pai */
}

.nav-menu img {
  margin-bottom: 15px;
  margin-left: 13px;
}

.nav-menu {
  Display: flex;
  Justify-content: left;
  Align-items: flex-start;
  Column-gap: 28px;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 22px;
  display: flex;
}

.nav-menu ul li {
  margin-right: 20px;
  /* Adapte a margem conforme necessário */
  position: relative;
  /* Define posição relativa para alinhar a sub-lista */
}

.nav-menu ul li ul {
  display: none;
  position: absolute;
  /* Posicionamento absoluto em relação ao item pai */
  top: 100%;
  /* Aparece abaixo do item pai */
  left: 0;
  /* Alinha com o lado esquerdo do item pai */
  background-color: #4c546c;
  /* Fundo cinza */
  color: #fff;
  /* Cor do texto branca */
  padding: 10px;
  /* Adiciona espaço interno */
}

.nav-menu ul li:hover>ul {
  display: block;
}



/*Botao saiba mais*/
.btn-right {
  float: right;
  cursor: pointer;
  font-weight: bolder;
  font-family: 'Space Mono';
  background-color: #4c546cc9;
  color: white;
  border-radius: 28px;
  /* Ajuste o valor conforme desejado para bordas mais arredondadas */
  font-size: 19px;
  padding: 2px 13px;
  /* Ajuste o padding conforme necessário */
  margin: 22px 10px 22px 10px;
  /* Top, Right, Bottom, Left */
  border: none;
  /* Remove a borda */
}

.btn-right-anc {
  text-decoration: none;
  color: white;
}

.rodape {
  padding: 25px;
  color: white;
  background-color: #4c546c;
  font-size: 20px;
  font-family: 'Space Mono';
}



#container-semestre {
  background-color: rgb(72, 72, 90);
  gap: 20px;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}


/* QUANDO FOR MEXER EM REVISAO, MAS LEMBRE-SE QUE ALTERA O BOX DO INICIO */
/* para mexer e alinhar os box de semestre, as imagens parecem no obedecer, mas tem jeito */
#first,
#second,
#third,
#four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-bottom: 50px;
  border: 2px solid #f1ecec;
  background-color: pink;
  padding: 10px;
  box-shadow: 5px 5px 5px #333;
}

#first:hover,
#second:hover,
#third:hover,
#four:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

/* para mexer no tamanho dos titulos da página inicial, pq se for em revisao você terá que aumentar o nome do id ou class para batata-revisao*/
#first h2,
#four h2 {
  font-size: 20px;
  margin-top: 9px;
  padding: 3px;
}


.first-paragraph {
  text-decoration: underline;
  font-size: 18px;
  padding-top: 8px;
}

.citacao {
  /* text-align: left; */
  font-weight: 300;
  padding-left: 300px;
  color: #4c546c;
  font-style: italic;
}



#second h2 {
  font-size: 20px;
  margin-top: 9px;
  padding: 3px;
}

.second-paragraph {
  text-decoration: underline;
  font-size: 18px;
  padding-top: 8px;
}

#third h2 {
  font-size: 20px;
  margin-top: 20px;
  padding: 3px;
}

.third-paragraph {
  text-decoration: underline;
  font-size: 18px;
  padding-top: 8px;
}


.four-paragraph {
  text-decoration: underline;
  font-size: 18px;
  padding-top: 8px;
}



/*PARTE DOS SEMESTRES*/
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

/* para mexer e alinhar os box de semestre, as imagens parecem no obedecer, mas tem jeito */
#first,
#four {
  display: flex;
  align-items: center;
  width: 228px;
  height: 366px;
  margin-bottom: 50px;
  border: 2px solid #333;
  background-color: #ccc;
  padding: 30px;
  box-shadow: 5px 5px 5px #333;
}

#second,
#third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 369px;
  margin-bottom: 50px;
  border: 2px solid #333;
  background-color: #ccc;
  padding: 17px;
  box-shadow: 5px 5px 5px #333;
}

#first:hover,
#second:hover,
#third:hover,
#four:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

body {

  /* background-color: rgb(245 222 179 / 34%); */
  background-color: rgb(245 222 179 / 30%);
}


/* SOMENTE PARA A PAGINA DE REVISAO */
#container-revisao {

  display: flex;
  /* Enable Flexbox */
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  justify-content: space-around;
  /* Distribute items evenly */
  align-items: flex-start;
  /* Align items to the top */


}

.revisao-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 39%;
  flex-basis: 45%;
  flex-direction: column;
  border: 1px solid #ddd;
  /* Add a border */
  border-radius: 4px;
  box-shadow: 9px 11px 3px 2px rgba(0, 0, 0, 0.075);

}



/*IMAGENS REVISAO SOMENTE*/
/* .revisao-img1{
  margin-left: 18px;
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 34px;
}

.revisao-img2{
  margin-left: 18px;
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 32px;
}

.revisao-img3{
  margin-left: 18px;
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 43px;
}

.revisao-img4{
  margin-left: 18px;
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 43px;
} */

.img-units {
  width: 41vh;
  height: 27vh;
  border-radius: 44px 43px;
  padding: 12px 24px;
}

@media (max-width: 720px) {
  .img-units {
    width: 43vh;
    height: 40vh;
  }
}

@media (max-width: 500px) {
  .img-units {
    width: 28vh;
    height: 26vh;
  }
}

.revisao-item .content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}

.revisao-item p {
  text-align: justify;
  /* padding: 1px; */
  font-size: 21px;
  /* background-color: white; */
  border-radius: 10px;
  color: black;

  padding: 15px;
  /* Add padding for spacing within the card */

  /* margin: 11px; */
}


.revisao-item-band {
  /* Existing styles for the revision item */
  width: 100%;
  /* Span the full width of the revision item */
  padding: 10px;
  /* Add padding for spacing within the band */
  background-color: #4c546ced;
  /* Semi-transparent black background */
  color: white;
  /* Light text color for contrast */
  text-align: center;
  /* Center the text within the band */
  font-weight: bold;
  /* Make the text bold for emphasis */
}


.band-title {
  font-weight: bold;
  /* Make the title bold */
  margin-right: 5px;
  /* Add spacing after the title */
  color: #ffffffde;
}


.revisao-item .nav-btn {
  margin-top: 10px;
}


/* ELEFANTE */
.elephant {
  width: 150px;
  height: 100px;
  background-color: #D2691E;
  /* Marrom */
  border-radius: 70% 70% 50% 50%;
  position: relative;
}

.elephant:before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #D2691E;
  /* Marrom */
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 80px;
}

.elephant:after {
  content: '';
  width: 50px;
  height: 70px;
  background-color: #D2691E;
  /* Marrom */
  position: absolute;
  top: 50px;
  left: 40px;
  transform: rotate(-45deg);
}

.elephant .eye {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 100px;
}

.elephant .eye:before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.elephant .ear1,
.elephant .ear2 {
  width: 70px;
  height: 70px;
  background-color: #D2691E;
  /* Marrom */
  border-radius: 50%;
  position: absolute;
  top: -20px;
}

.elephant .ear1 {
  left: -15px;
  transform: rotate(45deg);
}

.elephant .ear2 {
  right: -15px;
  transform: rotate(-45deg);
}

.elephant .tail {
  width: 20px;
  height: 80px;
  background-color: #D2691E;
  /* Marrom */
  position: absolute;
  top: 10px;
  left: -30px;
  border-radius: 0 50% 50% 0;
  transform: rotate(-45deg);
  animation: wag 2s infinite;
}

@keyframes wag {
  0% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-40deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}



footer {
  text-align: center;
  color: #fff;
  background-color: #08021dea;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;
  bottom: 0px;

}

footer:hover {
  color: white;
}


/*SAIBA MAIS IMAGEM*/
.img-semestre1 {
  margin-left: 18px;
  width: 800px;
  height: auto;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 43px;
}