@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Jost:wght@200;300&family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

html {
  font-size: 16px;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #ecf2f6;
}

/* cabecalho + nav */
.cabecalho {
  font-family: "Space Mono";
  align-items: last baseline;
  background-color: #4c546c;
  color: white;
  padding: 2% 0px 0px;
  /* text-transform: lowercase; */
}

/* caso queira deixar tudo em caixa alta é text-transform */

.item-lista-cabecalho:hover {
  color: rgb(186, 250, 228);
}



/* botao de sair */
.nav-menu button {
  background: none;
  color: white;
  font-family: "Space Mono";
  border: 2px solid rgba(245, 222, 179, 0.738);
  border-radius: 15px;
  /* Ajuste o valor de acordo com o arredondamento desejado */
  padding: 10px 20px;
  /* Ajuste o espaçamento interno conforme necessário */
  cursor: pointer;
  font-weight: bold;

}

.nav-botao:hover {
  color: rgb(186, 250, 228);
}


.nav-menu a {
  color: inherit;
  /* Herda a cor do texto do elemento pai */
}

.nav-menu img {
  margin-bottom: 25px;
  margin-left: 23px;
}

.nav-menu {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  column-gap: 8px;
  flex-wrap: wrap;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 22px;
  display: flex;
}

.container-nav ul li {
  margin-right: 20px;
  /* Adapte a margem conforme necessário */
  position: relative;
  /* Define posição relativa para alinhar a sub-lista */
}

.nav-menu ul li ul {
  display: none;
  position: absolute;
  /* Posicionamento absoluto em relação ao item pai */
  top: 100%;
  /* Aparece abaixo do item pai */
  left: 0;
  /* Alinha com o lado esquerdo do item pai */
  background-color: #4c546c;
  /* Fundo cinza */
  color: #fff;
  /* Cor do texto branca */
  padding: 10px;
  /* Adiciona espaço interno */
}

.nav-menu ul li:hover>ul {
  display: block;
}


/* itens - semestres */
/* Estilos para os itens do menu principal */
.item-lista-cabecalho {
  display: flex;
  /* Ativa layout flexbox */
  align-items: center;
  /* Alinha verticalmente no centro */
  font-family: "Space Mono";
  color: white;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  height: 40px;
  /* Define a altura dos itens */
  /* Adicionando propriedades para alinhar e dimensionar no hover */
  transition: all 0.3s ease;
  /* Define a transição para as mudanças */
}

.item-lista-cabecalho:hover {
  background-color: #33435c;
  /* Cor de fundo ao passar o mouse */
  width: 178px;
  /* Define a largura da caixa no hover */
  padding: 10px;
  /* Adiciona padding para espaçar o texto da borda */
}

/* Estilos para as sublistas do menu principal */
.item-lista-cabecalho ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #4c546c;
  position: absolute;
  /* Posicionamento absoluto para sublistas */
  left: 100%;
  /* Posiciona à esquerda do item pai */
  top: 100%;
  /* Posiciona abaixo do item pai */
  z-index: 1;
  /* Garante que a sublista fique em cima do item pai */
  visibility: hidden;
  /* Oculta a sublista inicialmente */
  transition: all 0.3s ease;
  /* Define a transição para mostrar/ocultar a sublista */
}

.item-lista-cabecalho:hover ul {
  visibility: visible;
  /* Mostra a sublista quando o item pai é hoverizado */

}

.item-lista-cabecalho ul li {
  padding: 5px 20px;
  background-color: #4c546c;
  color: white;
  font-size: 14px;
}



/* MENU DO LADO DIREITO DA TELA */
/* Estilos para o menu-direita */
.menu-direita {
  position: absolute;
  /* Posicionamento absoluto */
  right: 0;
  /* Alinha à direita */
  nav-left: 90px;
  flex-wrap: wrap;
  align-content: flex-start;
}



/* barra de pesquisa config */
input {
  background-color: rgba(245, 222, 179, 0.86);
  border: 1px solid rgba(245, 222, 179, 0.86);
  border-radius: 10px;
  color: rgb(93, 91, 91);
  font-weight: bold;
}

/* Estilos da barra de pesquisa (dentro de menu-direita) */
.menu-direita input {
  flex: 1;
  /* Ocupa todo o espaço disponível */
  padding: 10px 20px;
  /* Adiciona padding para espaçar o texto da borda */
  width: 250px;
  /* Largura da barra de pesquisa */
}

.menu-direita input::placeholder {
  color: gray;
  font-weight: bold;
  /* Cor do texto de placeholder */
}

/* Estilos para o botão de logout */
.menu-direita button input {
  background: none;
  color: white;
  font-family: "Space Mono";
  border: 2px solid rgba(245, 222, 179, 0.738);
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 15px;
  /* Espaçamento entre o botão e a barra de pesquisa */
  height: 30px;
}


/* menu de navegacao das unidades */
.container-nav-units {
  width: 158px;
  height: 163px;
  background-color: #f0f0f0;
  position: fixed;
  top: 163px;
  bottom: -2px;
  left: 4px;
  right: 54px;
  padding: 14px 5px 20px 7px;
  border: 2px solid rgba(173, 216, 230, 0.728);
  border-radius: 0px 24px 23px 25px;
  font-family: "Space Mono";
  font-size: 12px;
  font-weight: bold;
}
 
  
.unit-nav {
  list-style: none; 
  padding: 0;
}

.unit-nav li {
  margin-bottom: 4px; 
  
}

.unit-nav a {
  display: block; 
  padding: 10px 41px; 
  text-decoration: none; /* Remove default link underline */
  color: #666; /* Link text color */
  background-color: #fff; /* Link background color */
  border: 2px dashed #ddd; /* Add border */
  border-radius: 22px; /* Add rounded corners */
  transition: background-color 0.3s ease; /* Add hover effect transition */
}

.unit-nav a:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}

/* RESPONSIVIDADE DO MENU UNITS */
@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .container-nav-units {
    width: 47%; /* Make sidebar occupy full width on smaller screens */
    height: max-content;
    position: relative; /* Reset position to relative for non-fixed behavior */
    top: 2px; /* Reset top position for non-fixed behavior */
    bottom: 2px;
    left: 102px;
    margin-bottom: 7px;
    padding: 5px 0px 0px 5px; /* Adjust padding for smaller screens */
    right: 2px;
  }

  .unit-nav {
    display: flex; /* Use flexbox for horizontal layout */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
  }

  .unit-nav li {
    margin-bottom: 5px; /* Reduce spacing between list items */
  }

  .unit-nav a {
    border: 2px dashed #ddd; /* Add border */
    border-radius: 22px; /* Add rounded corners */
    transition: background-color 0.3s ease;
    font-size: 14px; /* Adjust font size for smaller screens */
    padding: 2px 41px;
  }


}


@media (max-width: 1068px) {
  /* Styles for screens smaller than 768px */
  .container-nav-units {
    width: 47%; /* Make sidebar occupy full width on smaller screens */
    height: max-content;
    position: relative; /* Reset position to relative for non-fixed behavior */
    top: 2px; /* Reset top position for non-fixed behavior */
    bottom: 2px;
    left: 102px;
    margin-bottom: 7px;
    padding: 5px 0px 0px 5px; /* Adjust padding for smaller screens */
    right: 2px;
  }

  .unit-nav {
    display: flex; /* Use flexbox for horizontal layout */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
  }

  .unit-nav li {
    margin-bottom: 5px; /* Reduce spacing between list items */
  }

  .unit-nav a {
    border: 2px dashed #ddd; /* Add border */
    border-radius: 22px; /* Add rounded corners */
    transition: background-color 0.3s ease;
    font-size: 14px; /* Adjust font size for smaller screens */
    padding: 2px 41px;
  }


}




#section1 {
  display: block;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

h3, h4, h5 {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}



/* SECTION ESTILOS */
.section-content1,
.section-content2,
.section-content3 {
  width: 80%;
  /* Largura da seção (ajuste conforme necessário) */
  margin: 0 auto;
  /* Centraliza horizontalmente */
  padding: 40px;
  /* Espaçamento interno */
  background-color: #fff;
  /* Cor de fundo (opcional) */
  border: 1px solid #ddd;
  /* Borda (opcional) */
  border-radius: 8px;
  /* Cantos arredondados (opcional) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra (opcional) */
  font-family: "Space Mono";
  font-size: 20px;
}

/* Estilos para o conteúdo interno (ajuste conforme necessário) */
.section-content h2 {
  margin-bottom: 20px;
}

.section-content p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.section-content ul {
  list-style: disc;
  padding-left: 20px;
}







/* CARDS */
.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  background-color: #fff;
  /* Card background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow */
  border-radius: 10px;
  /* Rounded corners */
  margin-bottom: 20px;
  /* Add spacing between cards */
  width: 300px;
  /* Adjust card width as needed */
  display: flex;
  /* Use flexbox for layout */
  flex-direction: column;
  /* Arrange content vertically */
  align-items: center;
  /* Center content horizontally */
  padding: 20px;
  /* Add padding around card content */
  text-align: center;
  /* Center text within the card */
}

.card:hover {
  background-color: #f0f0f0;
  box-shadow: 1em 10px 10px rgba(0, 0, 0, 0.756);
  /* Add a subtle shadow on hover */
  transform: scale(1.05);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  /* Smooth transition for hover effects */
}

/* Card Image */
.card img {
  width: 100%;
  /* Make image span the full width of the card */
  height: 100%;
  /* Adjust image height as needed */
  object-fit: cover;
  /* Cover the card area while maintaining aspect ratio */
  margin-bottom: 15px;
  /* Add spacing between image and content */
  transition: transform 0.3s ease; 
}

.card img:hover{
  transform: scale(2);
}
/* Card Title */
.card h4 {
  font-size: 20px;
  /* Adjust font size as needed */
  font-weight: bold;
  /* Make title bolder */
  margin-bottom: 10px;
  /* Add spacing between title and content */
  color: #333;
  /* Use a darker color for the title */
}

/* Card Description */
.card p {
  line-height: 1.6;
  /* Add some line spacing for better readability */
  color: #666;
  /* Use a medium gray color for the description text */
}

/* Card Quote */
.card blockquote {
  font-style: italic;
  /* Make quote text italic */
  margin-top: 0px;
  /* Add spacing above the quote */
}

/* Card Play Button (Optional) */
.card button {
  background-color: #007bff;
  /* Blue background color */
  color: #fff;
  /* White text color */
  border: none;
  /* Remove default button border */
  padding: 10px 20px;
  /* Add padding around button text */
  border-radius: 5px;
  /* Rounded corners for the button */
  cursor: pointer;
  /* Indicate that it's a clickable element */
  transition: background-color 0.3s ease;
  /* Add a smooth hover effect */
}

.card button:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

/* section tips about units */
/* div pai */
.container-tips{
  display: flex;
  flex-direction: row;
  padding: 46px;
}

/* coluna 1 */
.tips-content1{
  padding: 46px 167px;
  font-size: 20px;
  /* flex-direction: column; */
  
  font-family: Arial, Helvetica, sans-serif;
}

.tips-content1 h5{
text-align: center;
  font-size: 30px;
  color: #333;
}

.tips-content1 p{
  color: #444;
  font-size: 24px;
  padding-top:74px;
  text-align: center;
}


/* coluna 2 + 3 divs */
.tips-content2{
  display: table-row-group;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: space-between; 
  /* flex-direction: column; */
  /* padding: 126px; */
  padding: 6px 5px 1px 64px;
}

.tips-content2 .box3-color1,
.tips-content2 .box3-color2,
.tips-content2 .box3-color3 {
  margin: 12px; /* Adjust spacing as needed */
  padding: 7px 13px;
  justify-content: center;
}

.box3-color1 p, .box3-color2 p, .box3-color3 p {
  border-radius: 45px 2px 45px 45px;
  padding: 18px 14px 23px 24px;
}

.tips-content2 img{
  /* align-items: center; */
  width: 5vh;
  height: 5vh;
}

.box3-color1 {
  flex-direction: row;
  /* border: 2px solid salmon; */
}

.box3-color1 p{ 
  background-color: #f4a46052;
  
}

.box3-color2 {
  flex-direction: row;
  /* border: 2px solid cadetblue; */
  
}

.box3-color2 p{
  background-color: #5f9ea07a;
  
}

.box3-color3 {
  flex-direction: row;
  /* border: 2px solid mediumpurple; */
  
  
}

.box3-color3 p{
    background-color: #9370db94;
  
}

.tips-content2 a{ 
  background-color: #ffff003b;
  border-radius: 10px;
  padding: 5px 25px;
  text-decoration: none;
  /* display: flex; */
  /* justify-self: center; */
  color: #333;
  font-weight: bold;
}

.tips-content2 p{
  margin-bottom: 10px;
}

/* Media query for screens smaller than 546px */
@media (max-width: 546px) {

  /* Make container-tips a single column layout */
  .container-tips {
    display: flex;
    flex-direction: row;
    padding: 8px;
    flex-wrap: wrap;
   
  }

  /* Adjust content within the columns */
  .tips-content1,
  .tips-content2 {
    padding: 5px;
    font-size: 10px; /* Adjust font size as needed */
  }

  /* Center content in tips-content1 */
  .tips-content1 h5,
  .tips-content1 p {
    text-align: center;
    font-size: 14px;
  }

  

  /* Remove unnecessary styles for smaller screens */
  .tips-content1 p {
    padding-top: 0; /* Remove padding-top */
  }

  /* Adjust layout for tips-content2 */
  .tips-content2 {
    display: flex; /* Use flexbox for responsive layout */
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: space-between; /* Distribute items evenly */
    padding: 0; /* Remove padding for smaller screens */
  }

  /* Adjust box styles for smaller screens */
  .tips-content2 .box3-color1,
  .tips-content2 .box3-color2,
  .tips-content2 .box3-color3 {
    margin: 5px; /* Reduce margin as needed */
    padding: 15px 20px; /* Adjust padding as needed */
    font-size: 14px;
    font-weight: 200px;
  }

  /* Adjust image size for smaller screens */
  .tips-content2 img {
    width: 30%; /* Adjust width as needed */
    height: 30%; /* Adjust height as needed */
  }

  /* Remove unnecessary flex direction for boxes */
  .box3-color1,
  .box3-color2,
  .box3-color3 {
    flex-direction: initial; /* Remove flex-direction */
  }

  /* Adjust link styles for smaller screens */
  .tips-content2 a {
    padding: 3px 10px; /* Adjust padding as needed */
  }
}

/* Existing styles for larger screens (outside the media query) */
.container-tips{
  display: flex;
  flex-direction: row;
  padding: 46px;
}

/* ... rest of your styles for larger screens ... */


/* section materiais */
.section-materials a {
  color: #333; /* Text color */
  text-decoration: none; /* Remove default underline */
  font-weight: bold; /* Make text bold */
  padding: 5px 10px; /* Add padding around text */
  border-radius: 5px; /* Round corners of the link */
  background-color: #f2f2f2; /* Light gray background */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.section-materials a:hover {
  background-color: #70bb72b7; /* Darker gray on hover */
}


/* botao de voltar */
/* Button Styles */
.button-return {
  /* General Styling */
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #70bb72b7; /* Green */
  color: white;
  border: none;
  font-family: "Space Mono";

  /* Hover Effect */
  &:hover {
    background-color: #b5d1b6; /* Darker Green */
  }
}




/* BOTAO DE IR PARA O TOPO */
.back-to-top-button {
  position: fixed; /* Stay in place on scroll */
  bottom: 20px; /* Distance from bottom */
  right: 20px; /* Distance from right */
  z-index: 100; /* Sit on top of other elements */
  display: none; /* Initially hidden */
}

.back-to-top-button a {
  display: block;
  width: 50px; /* Button width */
  height: 50px; /* Button height */
  text-align: center;
  line-height: 50px; /* Center text vertically */
  border-radius: 50%; /* Make it round */
  background-color: #333; /* Button color */
  color: #fff; /* Text color */
  font-size: 20px; /* Font size for icon */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.back-to-top-button a:hover {
  background-color: #444; /* Darker color on hover */
}



/* RODAPE */


.float-left{
  float: left;
  margin: 2px 10px;
  padding: 2px;
  /* margin-bottom: 20px; */
 
}

.rodape span {
  margin: 2px 9px 2px 9px;
  padding-right: 2px;
  /* padding-bottom: 2px; */
  line-height: 2; /* Set line-height to twice the font size */
}

footer .text, .copy{
  padding-left: 23px;
  padding-top: 2px;
  
}

