@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Jost:wght@200;300&family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}


  html {
    font-size: 16px;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

/* Estilos para abrir e fechar o menu */
.menu-open {
  transform: translateX(300px);
  cursor: pointer;

  font-family: 'Lora', Courier, monospace;
}

.menu-close {
  transform: translateX(0);
  cursor: pointer;
  background-color: #92a1cd;
}
.menu-toggle {
  position: fixed;
  top: 9px;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 4;
}



