@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Jost:wght@200;300&family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

html {
  font-size: 16px;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.rodape {
  padding: 25px;
  color: white;
  background-color: #4c546c;
  font-size: 20px;
  font-family: "Space Mono";
}

.cabecalho {
  font-family: "Space Mono";
  align-items: last baseline;
  background-color: #4c546c;
  color: white;
  padding: 2% 0px 0px;
}

.nav-menu a {
  text-decoration: none; /* Remove sublinhado */
  color: inherit; /* Herda a cor do texto do elemento pai */
}

.nav-menu img {
  margin-bottom: 15px;
  margin-left: 13px;
}

.nav-menu {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  column-gap: 28px;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 22px;
  display: flex;
}

.nav-menu ul li {
  margin-right: 20px; /* Adapte a margem conforme necessário */
  position: relative; /* Define posição relativa para alinhar a sub-lista */
}

.nav-menu ul li ul {
  display: none;
  position: absolute; /* Posicionamento absoluto em relação ao item pai */
  top: 100%; /* Aparece abaixo do item pai */
  left: 0; /* Alinha com o lado esquerdo do item pai */
  background-color: #4c546c; /* Fundo cinza */
  color: #fff; /* Cor do texto branca */
  padding: 10px; /* Adiciona espaço interno */
}

.nav-menu ul li:hover > ul {
  display: block;
}
