@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Jost:wght@200;300&family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400;500;600&family=Festive&family=Gelasio:wght@400;500;700&family=Henny+Penny&family=Hubballi&family=Inspiration&family=Jacques+Francois+Shadow&family=Lato:ital,wght@0,300;1,700&family=Lavishly+Yours&family=Monofett&family=Mystery+Quest&family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Quattrocento&family=Righteous&family=Sarala:wght@400;700&family=Satisfy&family=Water+Brush&display=swap');



* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.jogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 70vh;
  font-family: 'Sarala',cursive;
  position: absolute;
  right: 120px;
  top:150px;
  color: rgb(212, 202, 186);
  margin-top: 5rem;
}

#tema {
  margin-top: 30px;
  margin-bottom: 40px;
  color: #a6a2f7;
  letter-spacing: 0.2em;
  font-size: 45px;
  text-align: center;
}
.jogo p{
  font-size: 20px;
}
.jogo h1 {
  font-size: 24px;
}
.jogo h2 {
  font-size: 22px;
}

#part-1, #part-2, #part-3, #part-4, #part-5,  #part-6,  #part-7,  #part-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
}

.palavras {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}
.correct, .incorrect {
  flex: 1; /* Each item takes up an equal amount of space */
  min-width: 150px; /* Minimum width of each item */
  height: 20px;
  cursor: pointer;

}

#nextButton, #nextButton2, #nextButton3, #nextButton4 {
  border: 3px solid rgb(216, 137, 17);
  border-radius: 5px;
  background-color: black;
  color: #587b7c;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  height: 40px;
  bottom: 0;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

#timer, #timer2, #timer3, #timer4, #timer5, #timer6 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 150px;
}

span{
    
    color: #8a1061;
    margin-left: 1.9px;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
}

.container-botton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 500px;
  background-color: #a6a2f7;
  gap: 20px;
  margin-top: 100px;
}
#btn-voltar {
  background-color: rgb(166, 232, 230);
  height: 50px;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: rgb(31, 27, 27);
  font-family: 'Sarala',cursive;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
#btn-voltar a {
  text-decoration: none;
  color: #333;
}

.hide{
    display: none !important;
}


/*container de resultados*/
#score-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid#35b954;
    background-color: #ebf1f7;
    color: #000;
    text-align: center;
    width: 500px;
    height: 500px;
    padding: 25px;
    border-radius: 20px;
    margin-right: 60%;
    margin-bottom: 100px;
    font-family: "Raleway", sans-serif;
}

.container-left {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
#img-nave{
    position: absolute;
    height:180px;
    width: 500px;
    top: 100px;
    left: 50px;
    margin-top: 70px;
}
#img-astronaut{
    position: absolute;
    height: 200px;
    width: 200px;
    bottom: 80px;
    left: 250px;
}

#img-planet {
    position: absolute;
    height: 100px;
    top: 100px;
    right: 80px;
    width: 100px;
}
.container-right {
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
}

  .question-answer {
    flex: 1 1 0;
    margin-left: 15px;
    font-size: 28px;
    color: #f7eaea;
  }
  
  #quizz-container .wrong-answer,
  #quizz-container .wrong-answer .btn-letter {
    background-color: #E62210;
    color: #FFF;
  }
  
  #quizz-container .correct-answer,
  #quizz-container .correct-answer .btn-letter {
    background-color: #40B576;
    color: #FFF;
  }
  
  
  @media(max-width: 450px) {
  
    #quizz-container {
      border: none;
      width: 100%;
    }
  
    #answers-box button {
      width: 100%;
    }
  
    #score-container {
      width: 90%;
    }
  
  } */
  h1{
    align-items: center;
    
  }

  
footer {
  text-align: center;
  color: #fff;
  background-color: #08021dea;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;

}

footer:hover {
  color: white;
}

#primeiro,
  #segundo,
  #terceiro,
  #quarto,
  #quinto,
  #sexto {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 60%;
  overflow: auto;
  padding: 0;
  
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  border: 5px solid #a6a2f7;
  border-radius: 10px;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-content  h2 {
  text-align: center;
} 
.modal-content p {
  font-size: 50px;
  font-weight: bold;
  color: #305376;
}
#questions-qty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.close {
  position: absolute;
  color: #aaa;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
  right: 15%;
  top: 15%;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
#restart, #btn-voltar-popup {
  cursor: pointer;
  height: 50px;
  width: 150px;
  background-color: rgb(250, 250, 186);
  border: 2px solid rgb(237, 184, 86);
  border-radius: 10px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.1em;
  color: #393c3f;
}
#btn-voltar-popup a {  
  color: #393c3f;
}
.plus-points-span {
  position: absolute;
  font-size: 1em;
  /* font-weight: bold; */
  color: rgb(107, 138, 107);
  display: none; /* Initially hidden */
  z-index: 10; /* Ensure it appears above other elements */
}

#restart:hover, #btn-voltar-popup:hover {
  background-color: rgb(241, 197, 115);;
}


@media(max-width: 540px) {

  .jogo {
    top: 0;
    height: 90%;
  }
  .jogo h1, h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #part-1, #part-2, #part-3, #part-4, #part-5, #part-6 {
    margin-left: 40px;
    /* align-items: center; */
    width:500px;
  }
  .palavras {
    flex-direction: row;
    width: 70%;
    margin-left: 40px;
  }
  .palavras p {
    font-size: 1.1rem;
    font-weight: 700;
  }
  #tema {
    font-size: 2rem;
  }
  .container-left, #img-planet {
    display: none;
  }
  .modal {
    width: 300px;
  }
 
  .container-botton {
    width: 500px;
  }
  #btn-voltar {
    margin-left: 80px;
  }
}
