@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cinzel:wght@400;500;600&family=Festive&family=Gelasio:wght@400;500;700&family=Henny+Penny&family=Hubballi&family=Inspiration&family=Jacques+Francois+Shadow&family=Lato:ital,wght@0,300;1,700&family=Lavishly+Yours&family=Monofett&family=Mystery+Quest&family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Quattrocento&family=Righteous&family=Sarala:wght@400;700&family=Satisfy&family=Water+Brush&display=swap');
* {
        
    margin: 0;
    padding: 0;
}
body {
    background: url(img/stars.jpg)no-repeat;
    background-size: cover;   
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 600px;
    border-radius: 10px;
    border: 2px solid wheat;
}
.all h1{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: #e7efea;
    margin-bottom: 20px;
    margin-top: 50px;
}
.all h3 {
    font-size: 22px;
    font-family: 'Righteous', cursive;
}
#cor-1{
color: rgb(212, 227, 170);
    }
#cor-2{
    color: rgb(102, 225, 217);
    }
#cor-3{
color: rgb(225, 157, 102);
}
#cor-4{
    color: rgb(170, 147, 247);
    }
#cor-5{
    color: rgb(205, 123, 182);
    }
#display-score {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: rgb(5, 5, 15);
}
img { 
    width: 100px;
}

 #pontos, #pontos2, #pontos3, #pontos4, #pontos5, #pontos6 span{
    color: #359e61;
    font-size:28px;
}
#wrong, #erros, #erros2, #erros3, #erros4,#erros5, #erros6 span {
    color: #ae1f96;
    font-size: 28px;
}
#input, #input2, #input3, #input4, #input5, #input6{
    height: 60px;
    border: 1px solid rgb(151, 181, 180);
    border-radius: 15px;
    margin-top: 30px;
    width: 440px;
    padding: 20px;
    outline: 2px solid rgb(131, 222, 167);
    font-family: 'Righteous', cursive;
    font-size: 20px;
}
#gerarPalavra1, #gerarPalavra2, #gerarPalavra3, #gerarPalavra4, #gerarPalavra5, #gerarPalavra6 {
    width:440px;
    padding: 5px;
    cursor: pointer;
    margin: 20px 0 20px 0;
    border: 1px solid rgb(151, 181, 180);
    border-radius: 15px;
    background-color:  rgb(151, 181, 180);
    height: 60px;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
  font-weight: bold;
}
/*   .cont {
    display: flex;
    justify-content: space-around;
    align-content: center;
} */
.btn2{
    border-radius: 25px;
    width: 150px;
    padding: 5px;
    cursor: pointer;
    margin: 0 60px 0 60px;
    border: 1px solid rgb(151, 181, 180);
    outline: 2px solid rgb(131, 222, 167);
    font-family: 'Righteous', cursive;
    margin-bottom: 50px;
    font-size: 20px;
    height: 60px;
    border-radius: 15px;
}
.btn2:hover {
    background-color:rgb(131, 222, 167);
}

#img-2 {
position: absolute;
width: 300px;
height: 320px;
top: 65px;
left: 75%;
}
#img-3 {
position: absolute;
width: 200px;
height: 200px;
bottom: 10%;
left:5%;
}

.correct-answer span{
font-weight: bold;
color: #4bad7c;
}