@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Jost:wght@200;300&family=Lora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* menu lateral e bar */
.navbar {
  position: fixed;
  top: 0;
  bottom: -2;
  left: 0;
  width: 100%;
  font-family: "Lora";
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: #08021df5;
  padding: 16px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family:'Lora', monospace;
  padding: 6px;
  
 
}
span{
  font-size: 16px;
  font-family: 'Lora', Courier, monospace;
  color: #ef38d7;
  margin-left: 1.9px;
  margin-top: 20px;
  font-weight: bold;
}
/* Estilos para o menu lateral */
.sidebar {
  padding: 2px;
  position: fixed;
  top: 0;
  left: -300px;
  width: 209px;
  height: 100%;
  background-color: #08021de1;
  padding-top: 60px;
  transition: all 0.3s ease;
  z-index: 2;
}

.content {
  padding: 7px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 12px;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  display: block;
  padding: 13px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;

}

.sidebar li a:hover {
  background-color: #92a1cd;
}

.menu-toggle {
  position: fixed;
  top: 9px;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
  z-index: 4;
}

/* Estilos para abrir e fechar o menu */
.menu-open {
  transform: translateX(300px);
  cursor: pointer;
 
  font-family:'Lora', Courier, monospace;
}

.menu-close {
  transform: translateX(0);
  cursor: pointer;
  background-color: #92a1cd;
}

.fatec-linguo {
  border: 2px solid rgb(142, 3, 3);
  margin: 5px;
  padding: 1.5em;
}
.hide{
    display: none !important;
}

#main-title{
    padding: 40px 0;
    text-align: center;
    background-color: #9a5694;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}

#score-container{
    background-color: #CDDDE8;
    color: #000;
    text-align: center;
    width: 300px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 20px;
}

#score-container p{
    font-size: 14px ;
    margin: 20px 0;
}

#score-container #display-score{
    font-size: 32px;
    font-weight: bold;
}

#correct-answers{
    font-weight: bold;
    color: #40B576;
}

#questions-qty{
    font-weight: bold;
    color:#075EA4;
}

#restart{
    background-color: #E78230;
    color: #FFF;
    font-weight: bold;
    height: 50px;
    border-radius: 24px;
    border: 5px solid transparent;
    width: 180px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

#restar:hover{
    background-color: transparent;
    border-color: #cf34c2;
    color: #cf34c2;
}

/*Quiz container*/

#quizz-container {
    width: 500px;
    margin: 50px auto;
    border: 6px solid #152343;
    padding: 25px;
    border-radius: 25px;
  }
  
  #question {
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  #question-number {
    font-weight: bold;
  }
  
  #answers-box button {
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 417px;
    height: 50px;
    border-radius: 25px;
    background-color: #CDDDE8;
    border: 2px solid transparent;
    text-align: left;
    padding-bottom: 22px;
    padding-left: 5px;
    color: #000;
    cursor: pointer;
    transition: .5s;
  }
  
  #answers-box button:hover {
    background-color: #fff3ff;
    color: #FFF;
  }
  
  #answers-box .btn-letter {
    font-size: 18px;
    font-weight: bold;
    background-color: #cf34c2;
    color: #FFF;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    flex: 1 1 0;
    max-width: 40px;
  }
  
  .question-answer {
    flex: 1 1 0;
    margin-left: 10px;
    font-size: 16px;
    padding-right: 20px;
  }
  
  #quizz-container .wrong-answer,
  #quizz-container .wrong-answer .btn-letter {
    background-color: #E62210;
    color: #FFF;
  }
  
  #quizz-container .correct-answer,
  #quizz-container .correct-answer .btn-letter {
    background-color: #40B576;
    color: #FFF;
  }
  
  /* RESPONSIVO */
  @media(max-width: 450px) {
  
    #quizz-container {
      border: none;
      width: 100%;
    }
  
    #answers-box button {
      width: 100%;
    }
  
    #score-container {
      width: 90%;
    }
  
  }
  h1{
    align-items: center;
  }

  .logout-button {
    margin-top: -22px;
    margin-bottom: -6px;
    padding-left: 830px;
    margin-left: 350px;
    color: white;
    font-size: 15px;
  }
  
  
footer {
  text-align: center;
  color: #fff;
  background-color: #08021dea;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;

}

footer:hover {
  color: white;
}
